{% extends 'base.html.twig' %}

{% block body %}


    <div class="slider_container hidden visible-lg visible-sm">
        <div class="container">
            <div id="hpuCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#hpuCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#hpuCarousel" data-slide-to="1"></li>
                    <li data-target="#hpuCarousel" data-slide-to="2"></li>
                    <li data-target="#hpuCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/slider/slider-01.jpg" alt="All VPS Servers">
                        <div class="banner">
                            <span>All VPS Servers</span>
                            <p>ONLY &#36;5.40 PER MONTH
                                <BR /> GUARANTEED CPU, RAM & DISK
                                <BR /> Dynamic Scaling
                                <BR /> Unmetered Bandwidth with every VPS
                            </p>
                            <div class="more_1">
                                <a href="/vps/">Order Now!</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider/slider-02.jpg" alt="Chania">
                        <div class="banner">
                            <span>Dedicated Servers</span>
                            <p>Dedicated CPU,RAM,DISK
                                <BR /> Unmetered Bandwidth
                                <BR /> Dedicated Cloud Storage
                                <BR /> Dynamic Scaling from only &#36;15.00
                                <BR />
                            </p>
                            <div class="more_1">
                                <a href="/servers/">Order Now!</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider/slider-03.jpg" alt="Flower">
                        <div class="banner banner_blue banner_main">
                            <span>Reseller Hosting</span>
                            <p>only &#36;3.47p/month
                                <BR /> 30 Day Money Back Guarantee
                                <BR /> Unlimited Domains and Bandwidth
                                <BR /> with every account
                                <BR />
                            </p>
                            <div class="more_1">
                                <a href="/resellers/">Order Now!</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider/slider-04.jpg" alt="Flower">
                        <div class="banner banner_blue banner_main">
                            <span>All Web Hosting</span>
                            <p>
                                30 Day Money Back Guarantee
                                <BR /> HOST UNLIMITED WEBSITES
                                <BR /> Unlimited Bandwidth, web space, Unlimited email
                                <BR /> FREE SiteBuilder
                            </p>
                            <div class="more_1">
                                <a href="/hosting/">Order Now!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#hpuCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#hpuCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="hosting_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Web Hosting, VPS Hosting, Dedicated Servers and Reseller Services</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="block_1 bg_4">
                        <h2><a href="/hosting/" title="Web Hosting" style="">Web Hosting</a></h2>
                        <div class="price">
                            <p class="size_1">&#36;1.75
                                <span>/month</span></p>
                        </div>
                        <div class="list_holder">
                            <ul>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Windows Web Hosting">Windows Web Hosting</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Linux Web Hosting">Linux Web Hosting</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Emails">Unlimited Emails</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Domains">Unlimited Domains</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Email Accounts">Unlimited Email Accounts</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Disk Space">Unlimited Disk Space</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Bandwidth">Unlimited Bandwidth</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="{main_url}/weebly/" title="Free Weebly Site Builder">Free Weebly Site Builder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#sitebuilder.php" title="Free Precense Builder">Free Presence Builder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#sitebuilder.php" title="Free RVSiteBuilder">Free RVSiteBuilder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Application Installer">Free Application Installer</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Software">Free Software</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Plesk Control Panel">Plesk Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="cPanel Control Panel">cPanel Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="HTML Support">HTML Support</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title=".NET Support">.NET Support</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="PHP Support">PHP Support</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="MSSQL Database">MSSQL Database</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="MySQL Database">MySQL Database</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="No Minimum Contracts">No Minimum Contracts</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="30 Day Money Back Guarantee">30 Day Money Back Guarantee</a></li>
                            </ul>
                        </div>
                        <div class="moreHolder">
                            <div class="more_2"> <a href="/hosting/" title="read more">Read more!</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block_1 bg_1">
                        <h2><a href="{{ path('vps_show') }}" title="VPS Hosting" style="color: #444444;">VPS Hosting</a></h2>
                        <div class="price">
                            <p class="size_1">&#36;5.40<br>
                                <span>/month</span></p>
                        </div>
                        <div class="list_holder">
                            <ul>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Windows VPS" >Windows VPS</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Linux VPS" >Linux VPS</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Plesk Control Panel" >Plesk Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="cPanel Control Panel" >cPanel Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Admin Power Panel" >Free Admin Power Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Guaranteed CPU, RAM, Disk" >Guaranteed CPU, RAM, Disk</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Dedicated IP Address" >Dedicated IP Address</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unmetered Bandwidth" >Unmetered Bandwidth</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Windows Remote Desktop Access" >Windows Remote Desktop Access</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Linux SSH Access" >Linux SSH Access</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Dynamic Upgrades" >Dynamic Upgrades</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Custom DNS Name Servers" >Custom DNS Name Servers</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="R1Soft Remote Backup" >R1Soft Remote Backup</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Up to 30% Discount" >Up to 30% Discount</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="No Minimum Contracts" >No Minimum Contracts</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="100% Uptime" >100% Uptime</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Weebly Site Builder" >Free Weebly Site Builder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="30 Day Money Back Guarantee" >30 Day Money Back Guarantee</a></li>
                            </ul>
                        </div>
                        <div class="moreHolder">
                            <div class="more_2"> <a href="{{ path('vps_show') }}"  title="read more">Read more!</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block_1 bg_2">
                        <h2><a href="#" title="Dedicated Servers" style="color: #444444;">Dedicated Servers</a></h2>
                        <div class="price">
                            <p class="size_1">&#36;15.00<br>
                                <span>/month</span></p>
                        </div>
                        <div class="list_holder">
                            <ul>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Windows Dedicated Server">Windows Dedicated Server</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Linux Dedicated Server">Linux Dedicated Server</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Plesk Control Panel">Plesk Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="cPanel Control Panel">cPanel Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Dedicated CPU, RAM, Disk">Dedicated CPU, RAM, Disk</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Dedicated IP Address">Dedicated IP Address</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="1Gbps Unmetered Bandwidth"{canonical} >1Gbps Unmetered Bandwidth</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Windows Remote Desktop Access">Windows Remote Desktop Access</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Linux SSH Access">Linux SSH Access</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Dynamic Upgrades">Dynamic Upgrades</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Custom DNS Name Servers">Custom DNS Name Servers</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="FREE Snapshot backups">FREE Snapshot backups</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="R1Soft Remote Backup">R1Soft Remote Backup</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="No Minimum Contracts">No Minimum Contracts</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="100% Uptime">100% Uptime</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="30 Day Money Back Guarantee">30 Day Money Back Guarantee</a></li>
                            </ul>
                        </div>
                        <div class="moreHolder">
                            <div class="more_2"> <a href="#"  title="read more">Read more!</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block_1 bg_3">
                        <h2><a href="#" title="Reseller Hosting">Reseller Hosting</a></h2>
                        <div class="price">
                            <p class="size_1">&#36;3.47<br>
                                <span>/month</span></p>
                        </div>
                        <div class="list_holder">
                            <ul>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Windows Reseller Hosting">Windows Reseller Hosting</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Linux Reseller Hosting">Linux Reseller Hosting</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Domains">Unlimited Domains</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Emails">Unlimited Emails</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Email Accounts">Unlimited Email Accounts</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Disk Space">Unlimited Disk Space</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Unlimited Bandwidth">Unlimited Bandwidth</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Weebly Site Builder">Free Weebly Site Builder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Precense Builder">Free Presence Builder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free RVSiteBuilder">Free RVSiteBuilder</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free WHMCS Software">Free WHMCS Software</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Application Installer">Free Application Installer</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Free Software">Free Software</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Plesk Control Panel">Plesk Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="cPanel Control Panel">cPanel Control Panel</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="HTML Support">HTML Support</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title=".NET Support">.NET Support</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="PHP Support">PHP Support</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="MSSQL Database">MSSQL Database</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="MySQL Database">MySQL Database</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="No Minimum Contracts">No Minimum Contracts</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="Custom DNS Servers">Custom DNS Servers</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="100% Private Label">100% Private Label</a></li>
                                <li class="fa fa-arrow-circle-right"><a href="#" title="30 Day Money Back Guarantee">30 Day Money Back Guarantee</a></li>
                            </ul>
                        </div>
                        <div class="moreHolder">
                            <div class="more_2"> <a href="/resellers/" title="read more">Read more!</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
