/* Configurator */
div#configurator {
 
}

div#configurator.ui-accordion {
	visibility: visible;
}

div#configurator.ui-accordion .ui-accordion-header {
	background: #fff url("../images/cloud/configurator_bg.png") no-repeat;
	box-shadow: 0px 0 5px 1px #A5A5A5;  
	font-weight: bold;	
}

div#configurator.ui-accordion .ui-accordion-header .number {
	float: left;
	padding-left: 6px;
	color: #fff;  
}

div#configurator.ui-accordion .ui-accordion-header .header_text {
	padding-left: 22px;
	width: 200px;
	float: left;
}

div#configurator.ui-accordion .ui-accordion-header .plusminus {
	text-align: right;
	width: 21px;
	height: 20px;
	float: right;
}

div#configurator .m-left {
	margin-left: 30px;
}
 
.slider {
	margin: 23px 10px 20px 32px;
	height: 23px;
	background: #fff url("../images/cloud/slider_bg_2.png") no-repeat;
	border: none;
	width: 87%;
}

.slider .ui-slider-handle {
	width: 45px;
	height: 39px;
	background: transparent url("../images/cloud/slider_handle.png") no-repeat;
	margin-left: -22px;
	margin-top: -20px;
	border: none;
	outline: 0;
	color: #fff !important;
	text-decoration: none !important;
	text-align: center;
	font-size: 10px;
	padding-top: 4px;
	cursor: pointer;
	background-size: 100% 92%;
}

.slider .ui-slider-range {
	height: 23px;
	background: #85b358 url("../images/cloud/slider_range_bg.png") repeat-x;
}

.slider .storagewarn {
	display: none;
}

.heading {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-weight: bold;
color: #336699;
}

.slider .heading {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 11px;
color: #336699;
padding-right: 12px;
}
 
#storageslider {
  margin-bottom: 0;
}

#storagetype {
  margin: 24px 0 32px 32px;
}

#storagetype .grouplabel {
  margin: 6px 16px 0 0;
}

#storagetype input {
  margin-top: 5px;
}

#storagetype img.tip {
  vertical-align: middle;
}

.arrow_next.prev {
  background: url(../images/cloud/arrow_prev.png) top left no-repeat;
  padding: 4px 6px 6px 15px;
  float:left;
}

.arrow_next, input.arrow, button.arrow  {
  background: url(../images/cloud/arrow_more.png) top right no-repeat;
  padding: 4px 15px 6px 9px;
  font-size: 12px;
  text-align: right;
  line-height: 14px;
  text-decoration: none;
  float:right;  
  color: #fff;
}

.arrow_next:hover, .boxfooter p a:hover {
   color: #fff;
   text-decoration: underline;
}

input.arrow, button.arrow {
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 0px;
}
input.arrow:hover, button.arrow:hover {
  background-color: transparent;
  text-decoration: underline;
  color: #fff;
}

section.sidebar a.arrow_next {
  float: right;
}

#config_overview {
        padding: 0px 10px 20px 10px;
	float: left;
	width: 430px;
        overflow: auto;
}

#config_overview ul {
        list-style-type: none;
	padding-left: 10px;
	margin: 0;
}

.left {
        float: left;
}

.right {
        text-align: right;
        float: right;
}

#config_overview ul ul {
        clear: both;
        padding: 0px 0px 40px 10px;
        margin: 2px 0px 12px 0px;
        border-bottom: 1px dotted #ddd;
}

#config_overview ul ul li {
        line-height: 1.4em;
        clear: both;
}

ul.checklist {
	list-style-image: url(../images/cloud/list_check.png);
	list-style-position: inside;
	padding: 0;
}

/* jquery transform */
/* Selects */
#configure .jqTransformSelectWrapper {
width: 98% !important;
border: none;
height: 26px;
background: url(../images/cloud/slider_bg_2.png) no-repeat 0 0;
z-index: 20;
position: relative;
}

#configure .jqTransformSelectWrapper div span {
	font-size: 13px;
	float: none;
	position: absolute;
	left:1px;
	top:1px;
	white-space: nowrap;
	height: 21px;
	line-height: 21px;
	padding:0 8px 0 0;
	overflow: hidden;
	cursor:pointer;
	color:#939393;
	width:380px  !important;
	text-align:right;
}

#configure .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: -21px;
	top:3px;
	width: 60px;
	height: 20px;
	background: url(../images/front/select-dom-button.gif) no-repeat 0 0;
}

	#configure .jqTransformSelectWrapper  a.jqTransformSelectOpen:hover {background: url(../images/front/select-dom-button.gif) no-repeat 0 -20px !important;}
#configure .jqTransformSelectWrapper ul {
	position: absolute;
	top: 27px;
	left: 0;
	list-style: none;
	background-color: #fff;
	border:1px solid #e2e2e2;
	display: none;
	margin: 0px;
	padding: 0px;
	height: auto;
	overflow: auto;
	z-index:100;
	width:96% !important;
	max-height:250px;
}

#configure .jqTransformSelectWrapper ul a {
	display: block;
	padding: 0 3px 0 11px;
	text-decoration: none;
	color:#010101;
	background-color: #fff;
	font-size: 11px;
	line-height:21px;
	height:21px;
}
#configure .jqTransformSelectWrapper ul a.selected {background: #d0d0d0;color:#010101;}
#configure .jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {background: #d0d0d0;color:#010101;}
#configure .jqTransformInputWrapper {display: inline-block; padding-left: 0px;}
#configure .box {
	border-bottom: 1px solid #aaaaaa !important;
	border-left: 1px solid #aaaaaa  !important;
	border-right: 1px solid #aaaaaa  !important;
	border-bottom-right-radius: 4px;
	-moz-border-right-radius:4px;
	-webkit-border-right-radius:4px;	
	border-bottom-left-radius: 4px;
	-moz-border-left-radius:4px;
	-webkit-border-left-radius:4px;	
 	box-shadow: 0px 0 5px 1px #A5A5A5;
	padding-top: 15px;
}
#configure .bottom {
	border-bottom-right-radius: 4px;
	-moz-border-right-radius:4px;
	-webkit-border-right-radius:4px;		
	border-bottom-left-radius: 4px;
	-moz-border-left-radius:4px;
	-webkit-border-left-radius:4px;		
}
#configure .next-box {
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 20px;
}

#configure .clearfix:before, #configure .clearfix:after {
	content: "";
	display: table;
}
#host_name { width:90px  !important; }
#domain_name { width:90px  !important;  }
#extension_name { width:90px  !important; }

.page-title {
	font-weight : bolder;
	font-size : xx-large;
	color : #336699;
}

.page-subtitle {
	font-weight : bold;
	font-size : medium;
	color : #5982ac;
}

.form-heading {
	font-size : large;
	font-weight : bold;
	color : #336699;
	text-shadow: 1px 0 rgba(0, 0, 0, 0.3);
}

.heading {
	font-weight : bold;
	text-shadow: 1px 0 rgba(0, 0, 0, 0.3);  
}

#box_total {
	border: 1px solid #aaaaaa !important;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;		
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 1px #A5A5A5;
	margin-bottom: 30px;
}

#box_total div{
	padding-left: 15px;
	padding-bottom: 4px;
}

.total {
	  font-weight:bolder;
	  font-size:26px;
	  color : #336699;
}

.total_two {
	font-weight:bolder;
	font-size:15px;
	color : #336699;
}

.control-panel {
	width : 140;
}

.priceText {
	font-weight:bolder;
	font-size:14px;
}

.dollarSign {
	font-size:11px;
	margin-bottom:12px;
	vertical-align:text-top;
}

.perMonth {
	line-height:9px;
	font-size:9px;
	vertical-align:text-bottom;
}

#os,#cpus,#ram,#hd,#ip_addresses,#cp,#database,#rb_id {
width:94%;	
}
@media only screen and (max-width: 767px) {
	.slider { height: 53px; background-size: 100% 100%; }
	.slider .ui-slider-range { height: 53px; background-size: 100% 100%; }
	
}

ol, ul {
	list-style: none;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.floating_alert {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 30%;
	z-index: 5000;
	display: none;
}

.pad-top-1 {
	padding-top: 14px;
}